body {
  background-image: linear-gradient(135deg, #2e8b57, #a8d5ba);

  display: flex;
  justify-content: center;

  margin: 0;
  padding: 20px;

  min-height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.container {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;

  width: 100%;
  max-width: 1200px;

  border-radius: 25px;

  padding: 30px;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.main-title {
  font-size: 36px;
  font-weight: bold;

  margin-top: 10px;
}

.top-section {
  background-image: linear-gradient(135deg, #a8d5ba, #6b8e23);

  width: 100%;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px;
}

.your-balance-text {
  color: rgb(45, 55, 72);
  font-size: 22px;

  margin-bottom: 30px;
}

.balance-value {
  color: black;

  font-weight: bold;
  font-size: 50px;

  margin-bottom: 30px;
}

.income-expense-row {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;

  width: 100%;
}

.income-expense-card {
  background-color: white;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

  padding-block: 30px;

  border-radius: 15px;

  transition: transform 200ms;
}

.income-expense-card:hover {
  transform: translateY(-3px);
}

.income-title,
.expense-title {
  font-size: 20px;
}

.income-value,
.expense-value {
  font-size: 28px;
  font-weight: bold;
}

.income-title,
.income-value {
  color: rgb(5, 150, 105);
}

.expense-title,
.expense-value {
  color: rgb(220, 38, 38);
}

.bottom-section {
  display: grid;
  column-gap: 25px;
  row-gap: 30px;
  width: 100%;
}

@media (width <=900px) {
  .bottom-section {
    grid-template-columns: 1fr;
  }
}

@media (width > 901px) {
  .bottom-section {
    grid-template-columns: 1fr 1fr;
  }
}

.transactions-title {
  color: rgb(45, 55, 72);
  font-size: 22px;

  margin-bottom: 30px;
}

.add-transaction-section {
  background-image: linear-gradient(135deg, #f6f8fb, #f1f4f8);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  border-radius: 15px;

  padding: 25px;
}

.add-transaction-title {
  color: rgb(45, 55, 72);
  font-size: 20px;

  margin-bottom: 20px;
}

.input-title {
  color: rgb(74, 85, 104);
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.input {
  font-size: 17px;

  width: 100%;

  border-color: rgb(226, 232, 240);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;

  padding: 14px;

  box-shadow: inset;

  cursor: text;

  transition:
    border-color 200ms,
    box-shadow 200ms;

  margin-bottom: 30px;
}

.input::placeholder {
  font-size: 17px;
}

.input:hover {
  border-color: rgb(203, 213, 224);
}

.input:focus {
  outline: none;
  border-color: rgb(102, 126, 234);
  box-shadow: 0 0 4px rgba(102, 126, 234, 0.5);
}

.input:focus:hover {
  outline: none;
  border-color: rgb(203, 213, 224);
  box-shadow: 0 0 4px rgba(102, 126, 234, 0.5);
}

.input-guide {
  color: rgb(113, 128, 150);
  font-size: 15px;

  margin-top: -23px;
  margin-bottom: 25px;
}

.add-transaction-button {
  background-image: linear-gradient(135deg, #2e8b57 0%, #3cb371 100%);

  border: none;
  border-radius: 8px;

  width: 100%;
  height: 45px;

  color: white;
  font-size: 16px;

  cursor: pointer;

  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.2);

  transition:
    box-shadow 200ms,
    transform 200ms;
}

.add-transaction-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(102, 126, 234, 0.3);
}

.transactions-section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  overflow-y: auto;
  overflow-x: hidden;

  max-height: 300px;

  padding-bottom: 10px;
}

.transactions-section::-webkit-scrollbar {
  width: 8px;
}

.transactions-section::-webkit-scrollbar-track {
  background-color: rgb(241, 241, 241);
  border-radius: 1000px;
}

.transactions-section::-webkit-scrollbar-thumb {
  background-color: rgb(203, 213, 224);
  border-radius: 1000px;
  cursor: pointer;
}

.transactions-section::-webkit-scrollbar-thumb:hover {
  background-color: rgb(160, 174, 192);

}

.history-card {
  background-color: white;
  width: 99.15%;

  display: flex;
  align-items: center;
  column-gap: 20px;

  padding: 12px 25px;

  border-radius: 10px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  transition:
    transform 150ms,
    box-shadow 150ms;
}

.history-card:hover {
  transform: translateX(5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.history-card p {
  color: rgb(45, 52, 54);
  font-size: 18px;
}

.history-name {
  flex: 1;
}

.positive-history,
.negative-history {
  border-right-width: 5px;
  border-right-style: solid;
}

.positive-history {
  border-right-color: rgb(5, 150, 105);
}


.negative-history {
  border-right-color: rgb(220, 38, 38);
}

.delete-button {
  background-color: white;
  color: rgb(220, 38, 38);
  font-size: 18px;

  text-align: center;

  width: 30px;
  height: 40px;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition:
    background-color 200ms,
    opacity 200ms,
    font-size 200ms;

  opacity: 0;
}

.delete-button:hover {
  background-color: rgb(254, 226, 226);
  font-size: 20px;
}

.history-card:hover .delete-button {
  opacity: 100%;
}