:root {
  --light-gray-background: 248, 249, 250;
  --primary-orange: 255, 126, 95;
  --light-orange: 255, 177, 153;
  --dark-orange: 235, 94, 65;
  --regular-text-gray: 51, 51, 51;
  --checkmark-green: 11, 163, 96;
  --light-gray: 221, 221, 221;
}

body {
  background-color: rgb(var(--light-gray-background));
  min-height: 100vh;
  margin: 0;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1000px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: rgb(var(--primary-orange));
  font-size: 34px;
  font-weight: bold;
}

.title--main {
  margin-top: 20px;
  margin-bottom: 25px;
}

.regular-text {
  color: rgb(var(--regular-text-gray));
}

.regular-text--subtitle {
  margin-bottom: 30px;
}

.regular-text--data-reference {
  font-size: 15px;
  margin-bottom: 30px;
}

.link-text {
  color: rgb(var(--primary-orange));
  text-decoration: none;
}

.search-container {
  width: 100%;
  max-width: 500px;

  display: flex;
  column-gap: 10px;
  row-gap: 10px;

  justify-content: space-between;

  margin-bottom: 30px;
}

@media(width < 600px) {
  .search-container {
    flex-direction: column;
  }

  .search-button {
    width: 100%;
    animation: y 200ms;
  }

  .results-container {
    grid-template-columns: 1fr;
  }
}

@media(width >=600px) {
  .search-container {
    flex-direction: row;
  }

  .search-button {
    width: 95px;
    animation: x 200ms;
  }

  .search-input {
    flex: 1;
  }

  .results-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >=850px) {
  .results-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@keyframes x {
  from {
    width: 0;
  }

  to {
    width: 95px;
  }
}

@keyframes y {
  from {
    height: 0;
  }

  to {
    height: 40px;
  }
}

.search-input {
  height: 40px;

  border: 1px solid rgb(var(--light-gray));
  border-radius: 8px;

  color: rgb(var(--regular-text-gray));
  font-size: 16px;

  padding: 12px 15px;
}

.search-input:focus {
  outline: none;
  border-color: rgb(var(--primary-orange));
}

.search-button {
  height: 40px;

  background-color: rgb(var(--primary-orange));
  border: none;
  border-radius: 8px;

  color: white;
  font-weight: bold;
  font-size: 16px;

  cursor: pointer;

  transition: background-color 200ms;
}

.search-button:hover {
  background-color: rgb(var(--dark-orange));
}

.searching-message {
  font-size: 19px;

  margin-top: 10px;
  margin-bottom: 30px;

  display: none;
}

.error-message {
  background-color: rgba(var(--primary-orange), 10%);

  border: 1px solid rgb(var(--primary-orange));
  border-radius: 8px;

  color: rgb(var(--dark-orange));

  padding: 20px;
  width: 100%;

  text-align: center;

  display: none;
}

.results-container {
  width: 100%;

  display: none;

  row-gap: 25px;
  column-gap: 25px;

  margin-bottom: 40px;
}

.meal-card {
  background-color: white;
  border-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: all 200ms;

  cursor: pointer;
}

.meal-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  transform: translateY(-5px);
}

.meal-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;

  border-radius: 8px 8px 0 0;
}

.result-card-bottom-row {
  padding: 20px;
}

.meal-name {
  font-size: 18px;
  font-weight: bold;

  margin-bottom: 20px;
}

.meal-category {
  background-color: rgb(var(--light-orange));

  display: inline-block;
  padding: 6px 8px;

  border-radius: 100px;

  font-size: 13px;
}

.recipe-section {
  background-color: white;
  width: 100%;

  display: none;
  flex-direction: column;
  align-items: center;

  padding: 25px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  border-radius: 8px;
}

.back-button {
  background-color: white;

  border: 1px solid rgb(var(--primary-orange));
  border-radius: 8px;

  color: rgb(var(--primary-orange));
  font-size: 17px;
  font-weight: bold;

  padding: 8px 15px;

  cursor: pointer;

  align-self: start;

  transition: all 200ms;

  margin-bottom: 30px;
}

.back-button i{
  font-size: 15px;
}

.back-button:hover {
  background-color: rgb(var(--primary-orange));
  color: white;
}

.recipe-section img {
  width: 400px;

  border-radius: 8px;

  margin-bottom: 35px;
}

.recipe-section-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.recipe-section-category {
  padding: 5px 15px;
  margin-bottom: 40px;
}

.recipe-subsection-title {
  font-size: 18px;
  font-weight: bold;

  align-self: start;
}

.instructions-text {
  line-height: 27px;

  margin-top: 20px;
  margin-bottom: 30px;
}

.ingredients-section {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  margin-bottom: 50px;
}

.ingredient {
  background-color: rgb(var(--light-gray-background));

  padding: 10px;

  border-radius: 8px;
}

.ingredient i {
  color: rgb(var(--checkmark-green));
  font-size: 14px;
}

.ingredient p {
  display: inline-block;
}

.youtube-button {
  background-color: red;

  color: white;
  font-size: 15px;
  font-weight: bold;

  padding: 10px 15px;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}